<div id="container">
  <div id="contents-container">
    <div id="beer-img">
      <img src="/images/beer.png" alt="beer">
    </div>
    <div id="beer-links">
      <li><a href="/beer">Check The Beers!</a></li>
      <li><a href="/random-beer">Check a Random Beer!</a></li>
    </div>
  </div>

</div>