
<div class="card">
  {{> beerpartials }}
  <p><span>Food Pairing</span></p>
  <ul>
    {{#each food_pairing}}
    <li>{{ this }}</li>
    {{/each}}
  </ul>
  <p><span>Brewers Tip: </span>{{brewers_tips}}</p>
</div>
